<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="panel-groupb">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Registro</h4></div>
      <div class="panel-body">
        <div class="labela">
  
    <%= form.label :documento %>
  <div class="field">
    <%= form.text_field :documento, id: :user_documento, required: true %>
  </div>
  
    <%= form.label :NIT %>
   <div class="field">
    <%= form.text_field :NIT, id: :user_NIT %>
  </div>

    <%= form.label :telefono %>
   <div class="text_field">
    <%= form.text_field :telefono, id: :user_telefono, required: true %>
  </div>

    <%= form.label :nombre %>
   <div class="field">
    <%= form.text_field :nombre, id: :user_nombre, required: true %>
  </div>
  
    <%= form.label :direccion %>
   <div class="field">
    <%= form.text_field :direccion, id: :user_direccion, required: true %>
  </div>

  
    <%= form.label :celular %>
    <div class="field">
      <%= form.text_field :celular, id: :user_celular %>
  </div>

  
    <%= form.label :ciudad %>
    <div class="field">
      <%= form.text_field :ciudad, id: :user_ciudad, required: true %>
  </div>

  
    <%= form.label :password %>
   <div class="field">
    <%= form.text_field :password, id: :user_password %>
  </div>

 
    <%= form.label :profesion %>
    <div class="field">
     <%= form.text_field :profesion, id: :user_profesion, required: true %>
  </div>

  
    <%= form.label :email %>
   <div class="field">
    <%= form.text_field :email, id: :user_correo, required: true %>
  </div><br>


  <div class="actions">
    <%= form.submit "Crear usuario", class:"btn btn-primary" %>
  </div>
<% end %>
</div></div>
</div>
</div>
</div>

