<p id="notice"><%= notice %></p>

<h1>Carritos</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad productos</th>
      <th>producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carritos.each do |carrito| %>
      <tr>
        <td><%= carrito.cantidad_productos %></td>
        <td><%= carrito.producto.nombre %></td>
        <td><%= link_to 'Ver Detalles Producto', carrito.producto %></td>
         </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrito', new_carrito_path %>
