<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
      <h1>Carrito</h1> 
</div>

<div class="containerb">
    <table class="table table-bordered">
       <thead>
         <tr>
          <th><div class="labele">Cantidad productos</div></th>
          <th><div class="labele">Producto</div></th>
          <th><div class="labele">Acciones</div></th>
    </tr>
  </thead>

  <tbody>
 <% contador_computador = 0 %>
    <% contador_portatil = 0 %>
    <% contador_tablet = 0 %>
    <% @carritos.each do |carrito| %>
      <% if carrito.producto.tipo == "computador" %>
        <% if contador_computador > 0 %>
          <% contador_computador = contador_computador + 1 %>
        <% else %>
          <% contador_computador = contador_computador + 1 %>
  <tr>
    
          
            <td id="contador_computador"><div class="labelf"><%= contador_computador %></div></td>
             <td><div class="labelf"><%= carrito.producto.nombre %></div></td>
             <td><div class="labelf"><%= link_to 'Ver Detalles Producto', carrito.producto %></div></td>
          </tr>
        <% end %>
      <% end %>
      <% if carrito.producto.tipo == "portatil" %>
        <% if contador_portatil > 0 %>
          <% contador_portatil = contador_portatil + 1 %>
        <% else %>
          <% contador_portatil = contador_portatil + 1 %>
          <tr>
          <td id="contador_portatil"><div class="labelf"><%= contador_portatil %></div> </td>
             <td><div class="labelf"><%= carrito.producto.nombre %></td></div>
             <td><div class="labelf"><%= link_to 'Ver Detalles', carrito.producto %></div> </td>
          </tr>
        <% end %>
      <% end %>
      <% if carrito.producto.tipo == "tablet" %>
        <% if contador_tablet > 0 %>
          <% contador_tablet = contador_tablet + 1 %>
        <% else %>
          <% contador_tablet = contador_tablet + 1 %>
          <tr>
            <td id="contador_tablet"> <div class="labelf"><%= contador_tablet %></div> </td>
             <td><div class="labelf"><%= carrito.producto.nombre %></div> <td>
             <td><div class="labelf"><%= link_to 'Ver Detalles Producto', carrito.producto %></div></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
   </tbody></table></div>
 

<br>

<div class="labelc"><%= link_to 'Comprar', comprar_path(@carrito), method: :post %></div>

<script>
  $('#contador_computador').html("<%= contador_computador %>");
  $('#contador_portatil').html("<%= contador_portatil %>");
  $('#contador_tablet').html("<%= contador_tablet %>");
</script>
