<%= form_with model: producto, html: { multipart: true } do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="panel-groupc">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Productos</h4></div>
      <div class="panel-body">
        <div class="labela">

  
    <%= form.label :foto %>
    <div class="field">
    <%= form.file_field :foto, id: :producto_foto %>
  </div>
  
    <%= form.label :nombre %>
    <div class="field">
    <%= form.text_field :nombre, id: :producto_nombre %>
  </div>
   
  
    <%= form.label :descripcion %>
    <div class="field">
    <%= form.text_field :descripcion, id: :producto_descripcion %>
  </div>

  
    <%= form.label :tipo %>
    <div class="field">
    <%= form.text_field :tipo, id: :producto_tipo %>
  </div>

  
    <%= form.label :material %>
    <div class="field">
    <%= form.text_field :material, id: :producto_material %>
  </div>

  
    
      <%= form.label :precio %>
      <div class="field">
      <%= form.text_field :precio, id: :producto_precio %>
    </div>    
  </div>

  
    <%= form.label :dimenciones %>
    <div class="field">
    <%= form.text_field :dimenciones, id: :producto_dimenciones %>
  </div>

  
    <%= form.label :color %>
    <div class="field">
    <%= form.text_field :color, id: :producto_color %>
  </div>

  
    <%= form.label :peso %>
    <div class="field">
    <%= form.number_field :peso, id: :producto_peso %>
  </div>
  
    <%= form.label :cantidad %>
    <div class="field">
    <%= form.number_field :cantidad, id: :producto_cantidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div></div></div></div></div>
 
<% end %>
