<p id="notice"><%= notice %>
  <div class="row">
    <div class="col-lg-12">
      <div id="producto-contenedor-descripcion" class="text-center" style="background: white;">
          <h2><%= @producto.nombre %></h2>
          <%= image_tag @producto.foto.url(:medium) %>
          <table class="table-bordered" style="margin-left: auto;margin-right: auto;width: 40%; margin-top:2em;">
            <tr>
              <td class="bold">Descripcion</td>
              <td> <%= @producto.descripcion %></td>
            </tr>
            <tr>
              <td class="bold">Tipo</td>
              <td> <%= @producto.tipo%></td>
            </tr>
            <tr>
              <td class="bold">Material</td>
              <td> <%= @producto.material %></td>
            </tr>
            <tr>
              <td class="bold">Dimensiones</td>
              <td> <%= @producto.dimenciones %></td>
            </tr>
            <tr>
              <td class="bold">Color</td>
              <td> <%= @producto.color %></td>
            </tr>
            <tr>
              <td class="bold">Peso</td>
              <td> <%= @producto.peso %></td>
            </tr>
            <tr>
              <td class="bold">Precio</td>
              <td> <%= @producto.precio %></td>
            </tr>
          </table>
          <div class=" row text-center" style="margin-top:1em;">
              <% if user_signed_in? %>
                <%= link_to add_product_path(id: current_user.carrito.id , producto_id: @producto.id), method: :post, class:"btn btn-success" do %>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  Agregar al carrito
                <% end %>
              <% end %>
              <%= link_to 'Volver', productos_path, class:"btn btn-primary" %>
          </div>
      </div>
    </div>
  </div>
  


