<p id="notice"><%= notice %>

<div class="containerb">
    <table class="table table-bordered">
       <thead>
         <tr>
          <th><div class="labele">Nombre:</div></th>
          <th><div class="labele">Descripcion:</div></th>
          <th><div class="labele">Tipo:</div></th>
          <th><div class="labele">Material:</div></th>
          <th><div class="labele">Dimenciones:</div></th>
          <th><div class="labele">Color:</div></th>
          <th><div class="labele">Peso:</div></th>
          <th><div class="labele">Precio:</div></th>
                </tr>
    </thead>
    <tbody>
      <tr>
         <td><div class="labelf"><%= @producto.nombre %></div></td>
         <td><div class="labelf"><%= @producto.descripcion %></div></td>
         <td><div class="labelf"><%= @producto.tipo %></div></td>
         <td><div class="labelf"><%= @producto.material %></div></td>
         <td><div class="labelf"><%= @producto.dimenciones %></div></td>
         <td><div class="labelf"><%= @producto.color %></div></td>
         <td><div class="labelf"><%= @producto.peso %></div></td>
         <td><div class="labelf"><%= @producto.precio %></div></td>
         </tr>
    </tbody>
  </table>
  </div>

<%= link_to 'Back', productos_path %>
